[submodule "config/nvim-kickstart"]
	path = config/nvim-kickstart
	url = git@github.com:nvim-lua/kickstart.nvim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
