[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "config/ghostty/shaders"]
	path = config/ghostty/shaders
	url = git@github.com:KroneCorylus/ghostty-shader-playground.git
[submodule "config/herdr/vendor/vim-herdr-navigation"]
	path = config/herdr/vendor/vim-herdr-navigation
	url = https://github.com/paulbkim-dev/vim-herdr-navigation.git
