[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "config/ghostty/shaders"]
	path = config/ghostty/shaders
	url = git@github.com:KroneCorylus/ghostty-shader-playground.git
